<%- include('partials/header') -%>
<!-- DIV CONTAINING ALL CONTENT -->
<div class="container flex flex-col min-h-screen mt-5 mb-10 mx-auto">
  <h1 class="text-3xl text-slate-200 font-bold ml-3 mb-4">Admin Dashboard</h1>
  <div class="container flex xs:flex-wrap xl:flex-nowrap mx-auto mb-5">

    <div class="toast toast-end z-50">
      <% if (message.success) { %>
        <div class="notification alert alert-success shadow-lg">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span><%= message.success %></span>
          </div>
        </div>
      <% } %>

      <% if (message.error) { %>
        <div class="notification alert alert-warning shadow-lg">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
            <span><%= message.error %></span>
          </div>
        </div>
      <% } %>
    </div>

    <!-- CREATE AN EVENT FORM -->
    <main class="flex justify-center mx-auto lg:w-full">
      <div class="card flex-shrink-0 xl:w-full max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md shadow-2xl bg-base-100">
        <!-- <img src="" alt=""> ADD LOGO HERE -->
        <div class="card-body">
          <h1 class="text-2xl font-bold text-slate-50 mb-3">Create a New Event</h1>
          <form action="/admin/createEvent" enctype="multipart/form-data" method="POST">
              <div class="form-control mb-2">
                <label for="eventName" class="form-label mb-2">Event Name</label>
                <input type="text" class="form-control input input-bordered focus:outline-primary" id="eventName" aria-describedby="eventName" name="eventName" required/>
              </div>
              
              <div class="form-control mb-2">
                <label for="address" class="form-label mb-2">Location</label>
                <input type="text" class="form-control input input-bordered focus:outline-primary" id="address" placeholder="" aria-describedby="address" name="address" required/>
                <div id="privateEmail" class="form-text text-sm text-gray-500 mt-1">City, State</div> 
              </div>
    
              <div class="form-control mb-2">
                <label for="imgUpload" class="form-label mb-2">Image</label>
                <input type="file" class="form-control file-input input-bordered focus:outline-primary" name="file" required/>
              </div>
    
              <div class="form-control mb-2">
                <label for="caterer" class="form-label mb-2">Caterer</label>
                <input type="text" class="form-control input input-bordered focus:outline-primary" id="caterer" aria-describedby="caterer" name="caterer" required/>
              </div>
    
              <div class="form-control mb-2">
                <label for="uniform" class="form-label mb-2">Uniform</label>
                <textarea type="text" class="form-control input input-bordered focus:outline-primary" id="uniform" aria-describedby="uniform" name="uniform" required></textarea>
              </div>
    
              <div class="sm:grid sm:grid-cols-2 sm:gap-4">
                <div class="form-control xs:order-1 sm:order-1 mb-3 xs:w-full">
                  <label for="date" class="form-label mb-2">Date</label>
                  <input type="date" class="form-control input input-bordered focus:outline-primary" id="date" name="date" required>
                </div>
      
                <div class="form-control xs:order-none sm:order-3 mb-3">
                  <label for="staffArrival" class="form-label mb-2">Staff Arrival</label>
                  <input type="time" class="form-control input input-bordered focus:outline-primary" id="staffArrival" name="staffArrival" step="300" required>
                </div>
      
                <div class="form-control xs:order-none sm:order-5 mb-3">
                  <label for="estimatedEndTime" class="form-label mb-2">Estimated End Time</label>
                  <input type="time" class="form-control input input-bordered focus:outline-primary" id="estimatedEndTime" name="estimatedEndTime" step="300" required>
                </div>
      
      
                <div class="form-control xs:order-none sm:order-2 mb-2">
                  <label for="waitstaffNeeded" class="form-label mb-2">Waitstaff Needed</label>
                  <input type="number" class="form-control input input-bordered focus:outline-primary" id="waitstaffNeeded" placeholder="# of Waitstaff" aria-describedby="waitstaffNeeded" name="waitstaffNeeded" min="0" required/>
                </div>
      
                <div class="form-control xs:order-none sm:order-4 mb-2">
                  <label for="bartenderNeeded" class="form-label mb-2">Bartenders Needed</label>
                  <input type="number" class="form-control input input-bordered focus:outline-primary" id="bartenderNeeded" placeholder="# of Bartenders" aria-describedby="bartenderNeeded" name="bartenderNeeded" min="0" required/>
                </div>
      
                <div class="form-control xs:order-none sm:order-6 mb-2">
                  <label for="chefNeeded" class="form-label mb-2">Chefs Needed</label>
                  <input type="number" class="form-control input input-bordered focus:outline-primary" id="chefNeeded" placeholder="# of Chefs" aria-describedby="chefNeeded" name="chefNeeded" min="0" required/>
                </div>
              </div>
    
              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary tracking-wide">Create Event</button>
              </div>
            </form>
        </div>
      </div>
    </main>

    <!-- DIV GROUPS BOTH TEXT DIV AND TABLE DIV -->

    <div class="flex flex-col mx-auto w-full justify-center">

      <!-- NOTIFY STAFF DIV -->
      <div class="w-fit mx-auto">
        <div class="card bg-base-300 shadow-xl text-neutral-content mx-auto xs:mt-10 xl:-mt-5">
          <div class="card-body items-center text-center">
            <h2 class="card-title text-2xl font-bold text-slate-50">Notify Staff of New Events</h2>
            <form action="/admin/textUsers" method="POST">
              <div class="mt-5 sm:inline-flex">
                <input type="number" class="form-control input input-bordered focus:outline-primary xs:w-52 sm:w-56 md:w-auto" placeholder="Number of New Events" id="numberNewEvents" name="numberNewEvents" min="1" required>
                <button type="submit" class="btn btn-primary tracking-wide xs:mt-3 sm:mt-0 sm:ml-2" value="Upload">Send Text</button>
              </div>
            </form>
            <div class="card-actions justify-end">
            </div>
          </div>
        </div>
  
        <!-- SIMPLY THE BEST AWARD -->
        <div class="card bg-base-300 shadow-xl text-neutral-content mx-auto mt-10">
          <div class="card-body items-center text-center">
            <h2 class="card-title text-2xl font-bold text-slate-50">'Simply the Best' Award</h2>
            <% for(var i=0; i < allUsers.length; i++) {%>
              <form class="xs:my-auto sm:mt-3 mx-auto" action="/admin/stbAward/<%= allUsers[i]._id %>?_method=PUT" method="POST">
              <% } %>
              <label class="xs:hidden sm:block xs:text-sm sm:text-xl lg:text-lg md:ml-1 lg:ml-2" for="stbAward"></label>
              <select class="select focus:select-primary max-w-xs text-lg mt-1" name="awardRecipient" id="stbAward">
                <option disabled selected>Select Staff</option>
                <% for(var i=0; i < allUsers.length; i++) {%>
                <option class="tracking-widest" value="<%= allUsers[i]._id %>"><%= allUsers[i].name %></option>
                <% } %>
              </select>
                <button class="btn btn-primary tracking-wide xs:mt-3 sm:mt-0 sm:ml-2" type="submit">SUBMIT</button>
            </form>
            <div class="card-actions justify-end">
            </div>
          </div>
        </div>
      </div>


      <!-- TABLE DIV -->

      <div class="mx-auto xs:mt-10 xl:mt-12 mb-5 h-[500px] w-full overflow-x-auto">
        <table class="table table-zebra table-compact mx-auto shadow-2xl">
          <thead class="sticky top-0 bg-gray-100">
            <tr>
              <th class="px-4"></th> 
              <th class="px-4">Name</th> 
              <th class="px-4">Email</th> 
              <th class="px-4">Phone Number</th> 
            </tr>
          </thead> 
          <tbody>
            <% for(var i=0; i < allUsers.length; i++) {%>
            <tr>
              <th class="px-4 text-slate-100"><%= [i + 1] %></th> 
              <td class="px-4 text-slate-100"><%= allUsers[i].name %></td> 
              <td class="px-4 text-slate-100"><%= allUsers[i].email %></td> 
              <td class="px-4 text-slate-100"><%= allUsers[i].phoneNumber %></td> 
            </tr>
            <% } %>
          </tfoot>
        </table>
      </div>

      <!-- END TABLE DIV -->

    </div>
    <!-- END DIV GROUPS BOTH TEXT DIV AND TABLE DIV  -->


  </div>
<!-- DIV ENDING ALL CONTENT DIV -->
</div>

<script>
  setTimeout(() => {
    const notification = document.querySelector('.notification');
    if (notification) {
      notification.remove();
    }
  }, 5000); 
</script>

<%- include('partials/footer') -%>