<%- include('partials/header') -%>
<div class="container mt-20 mx-auto">
    <h2 class="text-3xl font-bold mb-4">All Previous Events,</h2>
    <span class="text-xl">Find an event that fits your schedule</span>
<!-- SNAP TO CENTER -->
      <div class="border-red-500 border-3 flex justify-between">
        <h1 class="xs:text-2xl sm:text-3xl font-bold">Previous Events</h1>
      </div>

      <div class="carousel carousel-center rounded-box bg-base-300 -mx-3 my-5">
        <% for(var i=0; i < previousEvents.length; i++) {%>
          <div class="card carousel-item xs:w-80 sm:w-96 glass m-5">
            <figure><img src="<%= previousEvents[i].image%>" alt="Event Photo"/></figure>
            <div class="card-body">
              <% if(previousEvents[i].waitstaffNeeded === 0 && previousEvents[i].bartenderNeeded === 0 && previousEvents[i].chefNeeded === 0) { %>
                <div class="badge badge-error gap-2">
                  Event Full
                </div>
              <% } %>
              <h2 class="card-title"><%= previousEvents[i].eventName %></h2>
              <h3><%= previousEvents[i].date %></h3>
              <h3><%= previousEvents[i].staffArrival %> - <%= previousEvents[i].estimatedEndTime %> </h3>
              <div class="card-actions justify-end mt-2">
                <a href="/events/<%= previousEvents[i]._id%>" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        <% } %>
</div>

<%- include('partials/footer') -%>