<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <% if (message.error) { %>
      <div class="alert alert-danger">
        <%= message.error %>
      </div>
    <% } else if(message.success) { %>
      <div class="alert alert-success">
        <%= message.success %>
      </div>
    <% } %>
    <div class="col-6">
      <h2><%= event.eventName %></h2>
      <img class="img-fluid" src="<%= event.image%>" />
      <div class="row justify-content-between">
        <%if(user.role === 'Admin'){ %>
        <form
          action="/events/deleteEvent/<%= event.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p>Staff Arrival: <%= event.staffArrival %></p>
      <p>Estimated End Time: <%= event.estimatedEndTime %></p>
      <p>Address: <%= event.address %></p>
      <p>Date: <%= event.date.toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"}) %></p>
      <p>Uniform: <%= event.uniform %></p>
      <p>Caterer: <%= event.caterer %></p>
      <p>Captain: <%= event.eventCaptain %></p>
      <p>Executive Chef: <%= event.eventChef %></p>
      <p>Waitstaff Needed: <%= event.waitstaffNeeded %></p>
      <p>Bartenders Needed: <%= event.bartenderNeeded %></p>
      <p>Chef Needed: <%= event.chefNeeded %></p>
    </div>

    <!-- Optimize by adding switch statement -->
    <form action="/events/reserveEvent/<%= event.id %>?_method=PUT" method="POST">
      <label for="occupationRole">Choose a Role:</label>
      <select name="occupationRole" id="occupationSelection">
        <%if(user.occupation.includes('Waitstaff')){ %>
        <option value="Waitstaff">Waitstaff</option>
        <%}%>
        <%if(user.occupation.includes('Bartender')){ %>
        <option value="Bartender">Bartender</option>
        <%}%>
        <%if(user.occupation.includes('Chef')){ %>
        <option value="Chef">Chef</option>
        <%}%>
      </select>
      <button class="btn btn-primary" type="submit">Reserve Role</button>
    </form>

   <%if(user.role === 'Admin'){ %>
    <table class="my-3 table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role Reserved</th>
      </tr>
     <% for(var i=0; i<event.staffReserved.length; i++) {%>
          <tr>
            <td><%= event.staffReserved[i][1] %></td>
            <td><%= event.staffReserved[i][2] %></td>
            <td><%= event.staffReserved[i][3] %></td>
          </tr>
     <% } %>
   <%}%>
    </table>
</div>

    <div class="col-6 my-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/events">Return to Feed</a>
    </div>
  </div>
</div>

<script>

</script>

<%- include('partials/footer') -%>
