<%- include('partials/header') -%>

<div class="container mx-auto mt-20 mb-10">

    <!-- RESERVATION ERROR/SUCCESS MESSAGE -->
    <div class="border border-red-500 border-3">
    <% if (message.error) { %>
      <div class="alert alert-error shadow-lg">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span><%= message.error %></span>
        </div>

      </div>
    <% } else if(message.success) { %>
      <div class="alert alert-success shadow-lg">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span><%= message.success %></span>
        </div>
      </div>
    <% } %>

    <% if (event.bartenderNeeded === 0 && event.waitstaffNeeded === 0 && event.chefNeeded === 0) { %>
      <div class="alert alert-info shadow-lg mt-2">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <h2 class="">All required reservations for this event have been filled.</h2>
        </div>
      </div>
    <% } %>
    </div>
    <!-- END RESERVATION ERROR/SUCCESS MESSAGE -->
    
    <!-- The button to open modal -->
    <%if(user.role === 'Admin'){ %>
    <div class="flex justify-end">
      <label for="my-modal-6" class="btn mt-5 border-red-500 border-3 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      </button>
      </label>
      <input type="checkbox" id="my-modal-6" class="modal-toggle" />
      <div class="modal modal-bottom sm:modal-middle border border-red-500 border-3">
        <div class="modal-box">
          <h3 class="font-bold xs:text-lg sm:text-xl lg:text-2xl xl:text-3xl">Are you certain you want to delete this event?</h3>
          <p class="py-4">By clicking 'Delete Event', all associated data for this event will be permanently lost and cannot be recovered.</p>
          <div class="modal-action">
            <form
            action="/events/deleteEvent/<%= event.id %>?_method=DELETE"
            method="POST"
            class="">
              <button class="btn btn-error" type="submit">Delete Event</button>
            </form>
            <label for="my-modal-6" class="btn">Close</label>
          </div>
        </div>
      </div>
    </div>
    <%}%>
    
    <img class="img-fluid w-auto h-auto border border-red-500 border-3 mt-5 mx-auto" src="<%= event.image%>" alt="Event Map Image"/>

    <div class="flex flex-col w-full lg:flex-row mt-5 z-40">
      <div class="grid flex-grow h-96 lg:h-auto card bg-base-300 rounded-box lg:w-6/12 xl:w-8/12">
        <h1 class="text-4xl font-semibold mt-2 mx-3 mb-0"><%= event.eventName %></h1>
        <h3 class="xs:text-lg sm:text-2xl md:text-3xl lg:text-2xl xl:text-3xl ml-3">Location: <%= event.address %></h3>
        <h2 class="xs:text-lg sm:text-2xl md:text-3xl lg:text-2xl xl:text-3xl ml-3">Date: <%= date %></h2>
        <h2 class="xs:text-lg sm:text-2xl md:text-3xl lg:text-2xl xl:text-3xl ml-3">Estimated Hours: <%= staffArrival %> - <%= estimatedEndTime %></h2>
        <h3 class="xs:text-lg sm:text-2xl md:text-3xl lg:text-2xl xl:text-3xl ml-3">Hosted by: <%= event.caterer %></h3>
        <h4 class="xs:text-sm sm:text-lg md:text-lg lg:text-sm xl:text-xl mx-3">Uniform: <%= event.uniform %></h4>
      </div> 

      <div class="divider lg:divider-horizontal"></div>

      <div class="flex xs:flex-col sm:flex-col lg:flex-col xl:flex-col md:w-full lg:w-6/12 xl:w-4/12">

        <table class="mb-3 table table-zebra table-bordered border border-red-500 border-3">
          <tr>
            <th class="text-center xs:text-xl sm:text-2xl">Role</th>
            <th class="text-center xs:text-xl sm:text-2xl">Staff Needed</th>
          </tr>
          <tr>
            <td class="text-center xs:text-xl sm:text-2xl">Waitstaff</td>
            <td class="text-center xs:text-xl sm:text-2xl"><%= event.waitstaffNeeded %></td>
          </tr>
          <tr>
            <td class="text-center xs:text-xl sm:text-2xl">Bartender</td>
            <td class="text-center xs:text-xl sm:text-2xl"><%= event.bartenderNeeded %></td>
          </tr>
          <tr>
            <td class="text-center xs:text-xl sm:text-2xl">Chef</td>
            <td class="text-center xs:text-xl sm:text-2xl"><%= event.chefNeeded %></td>
          </tr>

        </table>

        <div class="grid flex-grow h-24 sm:h-28 card bg-base-300 rounded-box xs:flex-col sm:place-items-stretch lg:place-items-stretch mt-3">
          <form class="xs:my-auto sm:mt-3 sm:mb-5 mx-auto" action="/events/reserveEvent/<%= event.id %>?_method=PUT" method="POST">
            <label class="xs:hidden sm:block xs:text-sm sm:text-xl lg:text-lg md:ml-1 lg:ml-2" for="occupationRole">Choose a Role </label>
            <select class="select select-primary max-w-xs text-lg" name="occupationRole" id="occupationSelection">
              <%if(user.occupation.includes('Waitstaff')){ %>
              <option value="Waitstaff">Waitstaff</option>
              <%}%>
              <%if(user.occupation.includes('Bartender')){ %>
              <option value="Bartender">Bartender</option>
              <%}%>
              <%if(user.occupation.includes('Chef')){ %>
              <option value="Chef">Chef</option>
              <%}%>
            </select>

            <% if (Date.now() > event.date) { %>
              <div class="tooltip" data-tip="Event is Closed">
                <button class="btn btn-primary" disabled="disabled" type="submit">Reserve Role</button>
              </div>
            <% } else { %>
              <button class="btn btn-primary disabled" type="submit">Reserve Role</button>
            <% } %>
          </form>
        </div>

      </div>
      
    </div>


   <%if(user.role === 'Admin'){ %>
    <div class="border border-red-500 border-3 overflow-auto ">
      <table class="my-3 table table-striped table-bordered border border-red-500 border-3 mx-auto">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role Reserved</th>
        </tr>
       <% for(var i = 0; i < event.staffReserved.length; i++) {%>
            <tr>
              <td><%= event.staffReserved[i][1] %></td>
              <td><%= event.staffReserved[i][2] %></td>
              <td><%= event.staffReserved[i][3] %></td>
            </tr>
       <% } %>
     <%}%>
      </table>
    </div>
  </div>
</div>

<script>

</script>

<%- include('partials/footer') -%>
