<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= event.eventName %></h2>
      <img class="img-fluid" src="<%= event.image%>" />
      <div class="row justify-content-between">
        <%if(user.role === 'Admin'){ %>
        <form
          action="/events/deleteEvent/<%= event.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p>Staff Arrival: <%= event.staffArrival %></p>
      <p>Estimated End Time: <%= event.estimatedEndTime %></p>
      <p>Address: <%= event.address %></p>
      <p>Date: <%= event.date.toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"}) %></p>
      <p>Uniform: <%= event.uniform %></p>
      <p>Caterer: <%= event.caterer %></p>
      <p>Captain: <%= event.eventCaptain %></p>
      <p>Executive Chef: <%= event.eventChef %></p>
      <p>Waitstaff Needed: <%= event.waitStaffNeeded %></p>
      <p>Bartenders Needed: <%= event.bartenderNeeded %></p>
    </div>
    

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/events">Return to Feed</a>
    </div>
  </div>
</div>

<script>

</script>

<%- include('partials/footer') -%>
