<%- include('partials/header') -%>
<div class="container flex flex-col min-h-screen mt-5 mb-10 mx-auto">
  <div class="flex flex-col">
    <h2 class="xs:text-2xl md:text-3xl font-bold ml-3 text-slate-200">Here's a Look at Your Schedule</h2>
    <div class="stats stats-vertical md:stats-horizontal shadow bg-base-300 mt-8">
  
      <div class="stat place-items-center">
        <div class="stat-figure text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
          </svg>
          
        </div>
        <div class="stat-title">Scheduled Events</div>
        <div class="stat-value text-primary"><%= upcomingUserEvents.length %></div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-figure text-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
          </svg>            
        </div>
        <div class="stat-title">Events Completed</div>
        <div class="stat-value text-secondary"><%= previousUserEvents.length %></div>
      </div>
      
      <div class="stat place-items-center">
        <div class="stat-figure text-accent">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0" />
          </svg>
        </div>
        <div class="stat-title">Simply the Best Award</div>
        <div class="stat-value text-accent"><%= user.stbAward %></div>
      </div>
    </div>
  </div>
  

  <div class="overflow-hidden bg-base-300 shadow rounded-xl mt-8 mb-5">
    <div class=" flex flex-wrap items-center justify-between sm:flex-nowrap bg-base-200">
      <div class="xs:ml-5 sm:ml-7 my-5">
        <% if(upcomingUserEvents.length > 0) { %>
          <h3 class="text-2xl font-semibold leading-6 text-slate-100 sm:px-2">My Upcoming Events</h3>
        <% } else { %>
          <h3 class="text-2xl font-semibold leading-6 text-slate-100 sm:px-2">No Events Scheduled</h3>
        <% } %>
      </div>
    </div>
    <ul role="list" class="divide-y divide-slate-800">
      <% for(var i=0; i < upcomingUserEvents.length; i++) {%>
      <li class="sm:px-2 md:px-0 lg:px-2">
        <a href="/events/<%= upcomingUserEvents[i]._id%>" class="block hover:bg-base-200">
          <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center">
              <% if(upcomingUserEvents[i].waitstaffNeeded === 0 && upcomingUserEvents[i].bartenderNeeded === 0 && upcomingUserEvents[i].chefNeeded === 0) { %>
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <circle cx="10" cy="10" r="8" fill="currentColor" />
                </svg>             
              <% } else { %>
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <circle cx="10" cy="10" r="8" fill="currentColor" />
                </svg>
              <% } %>
              <p class="truncate text-2xl font-medium text-gray-400"><%= upcomingUserEvents[i].eventName %></p>
              <% if(user.eventsReserved.includes(upcomingUserEvents[i]._id)) { %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="#FBBE1F" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FBBE1F" class="xs:w-5 xs:h-5 sm:w-6 sm:h-6 ml-3">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                </svg>
                <% } %>
            </div>
            <div class="mt-2 md:flex md:justify-between">
              <div class="md:flex">
                <p class="flex items-center text-sm text-slate-50 xs:tracking-tight sm:tracking-wide md:tracking-tighter lg:tracking-wide">
                  <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                  </svg>
                  <%= upcomingUserEvents[i].date %> &#8226 <%= upcomingUserEvents[i].staffArrival%> - <%= upcomingUserEvents[i].estimatedEndTime%>
                </p>
                <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-4 md:mr-2 md:tracking-tighter lg:tracking-normal">
                  <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                  </svg>
                  <%= upcomingUserEvents[i].address %>
                </p>
              </div>
              <div class="mt-2 flex items-center text-sm md:mt-0 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 28 28" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>
                <p class="sm:ml-2 xs:tracking-wide sm:tracking-wider md:tracking-normal lg:tracking-wider">
                  Waitstaff: <span class="text-slate-50"><%= upcomingUserEvents[i].waitstaffNeeded %></span>
                </p>
                <p class="xs:mx-3 sm:mx-6 md:mx-2 lg:mx-8 xs:tracking-wide sm:tracking-wider md:tracking-normal lg:tracking-wider">
                  Bartenders: <span class="text-slate-50"><%= upcomingUserEvents[i].bartenderNeeded %></span>
                </p>
                <p class="sm:mr-2 md:mr-0 xs:tracking-wide sm:tracking-wider md:tracking-normal lg:tracking-wider">
                  Chefs: <span class="text-slate-50"><%= upcomingUserEvents[i].chefNeeded %></span>
                </p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="divider"></div> 

  <!-- Previous Events -->
  <div class="overflow-hidden bg-base-300 shadow rounded-xl mt-5">
    <div class=" flex flex-wrap items-center justify-between sm:flex-nowrap bg-base-200">
      <div class="xs:ml-5 sm:ml-7 my-5">
        <% if(previousUserEvents.length > 0) { %>
          <h3 class="text-2xl font-semibold leading-6 text-slate-100 sm:px-2">Event History</h3>
        <% } else { %>
          <h3 class="text-2xl font-semibold leading-6 text-slate-100 sm:px-2">No Events Completed</h3>
        <% } %>
      </div>
    </div>
    <ul role="list" class="divide-y divide-slate-800">
      <% for(var i=0; i < previousUserEvents.length; i++) {%>
      <li class="sm:px-2 md:px-0 lg:px-2">
        <a href="/events/<%= previousUserEvents[i]._id%>" class="block hover:bg-base-200">
          <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center">
              <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-300 " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <circle cx="10" cy="10" r="8" fill="currentColor" />
              </svg>              
              <p class="truncate text-2xl font-medium text-gray-400"><%= previousUserEvents[i].eventName %></p>
            </div>
            <div class="mt-2 md:flex md:justify-between">
              <div class="md:flex">
                <p class="flex items-center text-sm text-slate-50 xs:tracking-tight sm:tracking-wide md:tracking-tighter lg:tracking-wide">
                  <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                  </svg>
                  <%= previousUserEvents[i].date %> &#8226 <%= previousUserEvents[i].staffArrival%> - <%= previousUserEvents[i].estimatedEndTime%>
                </p>
                <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-4 md:mr-2 md:tracking-tighter lg:tracking-normal">
                  <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                  </svg>
                  <%= previousUserEvents[i].address %>
                </p>
              </div>
              <div class="mt-2 flex items-center text-sm md:mt-0 text-gray-500 ">
                <div class="badge badge-success badge-sm sm:badge-md gap-2 py-4 ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                  </svg>
                  Completed
                </div>
              </div>
              
            </div>
          </div>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>

<%- include('partials/footer') -%>