<%- include('partials/indexHeader') -%>
    <!-- <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="johndoe@gmail.com">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                    <div class="mb-3">
                      <label for="phone" class="form-label">Phone Number</label>
                      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="###-###-####" pattern="\d{3}-\d{3}-\d{4}" title="###-###-####" maxlength="10" onblur="addDashes(this)">
                      <div id="phoneNumberHelp" class="form-text">Please fill this out if you would like to receive SMS updates when new events are made available.</div>
                    </div> -->

                      <!-- Checkbox Roles -->
                      <!-- <h3>Occupation</h3>
                      <div id="occupationHelp" class="form-text">Please select the role(s) that apply to you.</div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="occupation" value="Waitstaff">
                        <label class="form-check-label" for="inlineCheckbox1">Waitstaff</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="occupation" value="Bartender">
                        <label class="form-check-label" for="inlineCheckbox2">Bartender</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="occupation" value="Chef">
                        <label class="form-check-label" for="inlineCheckbox3">Chef</label>
                      </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main> -->

    <!-- NEED TO UPDATE ERROR MESSAGES FORMAT - Error color/spacing/margin -->
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
        <div class="flex mt-10 mx-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:mx-auto">
          <div class="alert alert-warning shadow-lg mt-10 w-full">
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
              <span><%= el.msg %></span>
            </div>
          </div>
        </div>
      <% }) %>    
    <% } %>

    <!-- <% if (locals.messages.info) { %>
      <% messages.info.forEach( el => { %>
          <div class="alert alert-error"><%= el.msg %></div>
      <% }) %>    
    <% } %> -->

    <main class="flex justify-center my-10">
      <div class="card flex-shrink-0 w-full max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md shadow-2xl bg-base-100">
        <!-- <img src="" alt=""> ADD LOGO HERE -->
        <div class="card-body">
          <h1 class="text-2xl font-bold mb-3">Create your Helping Hands Account</h1>
            <form action="/signup" method="POST">
              <div class="form-control mb-2">
                <label for="name" class="form-label mb-2">Full Name</label>
                <input type="text" class="form-control input input-bordered" id="name" placeholder="Name" aria-describedby="name" name="name"/>
              </div>
              <div class="form-control mb-2">
                <label for="exampleInputEmail1" class="form-label mb-2">Email Address</label>
                <input type="email" class="form-control input input-bordered" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp" name="email"/>
                <div id="privateEmail" class="form-text text-sm text-gray-500 mt-1">We'll never share your email with anyone.</div> 
                <!-- Make #privateEmail smaller font, lighter text? -->
              </div>
              <div class="form-control mb-2">
                <label for="password" class="form-label mb-2">Password</label>
                <input type="password" class="form-control input input-bordered" id="password" placeholder="Password" name="password"/>
              </div>

              <div class="form-control mb-3">
                <label for="confirmPassword" class="form-label mb-2">Confirm Password</label>
                <input type="password" class="form-control input input-bordered" id="confirmPassword" placeholder="Confirm" name="confirmPassword">
              </div>

              <div class="form-control mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <p class="text-sm text-gray-500 mb-2">Optional</p>
                <input type="tel" class="form-control input input-bordered" id="phoneNumber" name="phoneNumber" placeholder="###-###-####" pattern="\d{3}-\d{3}-\d{4}" title="###-###-####" maxlength="10" onblur="addDashes(this)">
                <div id="phoneNumberHelp" class="form-text text-sm text-gray-500 mt-1">Please fill this out if you would like to receive SMS updates when new events are made available.</div>
              </div>

              <hr class="border-b border-gray-300 mt-6 mb-5">

              <!-- Checkbox Roles -->
              <label for="occupation" class="form-label text-lg">Occupation</label>
              <p id="occupationHelp" class="form-text">Please select the role(s) that apply to you.</p>
              <div class="flex space-x-4">
                <div class="form-check mt-2">
                  <input class="form-check-input checkbox checkbox-sm checkbox-primary" type="checkbox" id="inlineCheckbox1" name="occupation" value="Waitstaff">
                  <label class="form-check-label" for="inlineCheckbox1">Waitstaff</label>
                </div>

                <div class="form-check mt-2">
                  <input class="form-check-input checkbox checkbox-sm checkbox-primary" type="checkbox" id="inlineCheckbox2" name="occupation" value="Bartender">
                  <label class="form-check-label" for="inlineCheckbox2">Bartender</label>
                </div>

                <div class="form-check mt-2">
                  <input class="form-check-input checkbox checkbox-sm checkbox-primary" type="checkbox" id="inlineCheckbox3" name="occupation" value="Chef">
                  <label class="form-check-label" for="inlineCheckbox3">Chef</label>
                </div>
              </div>

              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
        </div>
      </div>
    </main>

    
    <script>
      function addDashes(f) {
        if (f.value === '') {
          return; // Exit the function if the input is empty
        }

        f.value = f.value.replace(/\D/g, '');
        f.value = f.value.slice(0,3)+"-"+f.value.slice(3,6)+"-"+f.value.slice(6,15);
      }
    </script>

<%- include('partials/footer') -%>